/* google font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* import tailwindcss and daisyui */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* font family class */
* {
  font-family: "Outfit", sans-serif;
}
