/* google font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* import tailwindcss and daisyui */
@import "tailwindcss";
@plugin "daisyui";
/* font family class */
* {
  font-family: "Outfit", sans-serif;
}
